# Ambiente
.env
.venv
venv
env

# Configurações de IDE
.vscode/

# Banco de dados local e dados de produção
*.db
*.db-journal*
data/

# Cache do Python
__pycache__/
*.pyc

# Arquivos do Flask
.flaskenv

# Outros
.DS_Store